<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MVP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <h2>Завдання</h2>
      
    </ion-card-header>
    <ion-card-content>
      <ion-item>3. Розрахувати площу та висоту рівностороннього трикутника.</ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-input label="Сторона" labelPlacement="floating" #inputA class="f-f " type="number" value="3"></ion-input>
      <ion-button type="submit" color="danger" expand="block"  (click) = "ras(inputA.value)">Створити трикутник</ion-button>
      <ion-item>
        <ion-label class="f-f">

            {{view.a}}
        </ion-label>
        <ion-label class="f-f">
            
            {{view.s}}
        </ion-label>
        <ion-label class="f-f">
            
            {{view.h}}
        </ion-label>
    </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
